
@{
    ViewData["Title"] = "AllCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/js/course.js"></script>

<h3>Manage Listings</h3>
<br>
<div class="row" id="courseInAllCourses">
</div>

